
{% assign req = reqs  %}

{% assign title = req.extension | where: "url", "http://hl7.org/fhir/5.0/StructureDefinition/extension-Requirements.title" | first %}
<h3>Title: {{ title.valueString }}</h4>

{% assign req = reqs  %}

<table border="1" style="border-collapse: collapse; background-color: #e6f2ff;">
  <tbody>
    {% assign ext = req.extension %}

    <tr>
      <th>Title</th>
      <td>{{ ext | where: 'url', 'http://hl7.org/fhir/5.0/StructureDefinition/extension-Requirements.title' | first | map: 'valueString' }}</td>
    </tr>
    <tr>
      <th>URL</th>
      <td>{{ ext | where: 'url', 'http://hl7.org/fhir/5.0/StructureDefinition/extension-Requirements.url' | first | map: 'valueUri' }}</td>
    </tr>
    <tr>
      <th>Version</th>
      <td>{{ ext | where: 'url', 'http://hl7.org/fhir/5.0/StructureDefinition/extension-Requirements.version' | first | map: 'valueString' | first }}</td>
    </tr>
    <tr>
      <th>Status</th>
      <td>{{ ext | where: 'url', 'http://hl7.org/fhir/5.0/StructureDefinition/extension-Requirements.status' | first | map: 'valueCode' | first }}</td>
    </tr>
    <tr>
      <th>Date</th>
      <td>{{ ext | where: 'url', 'http://hl7.org/fhir/5.0/StructureDefinition/extension-Requirements.date' | first | map: 'valueDateTime' | first }}</td>
    </tr>
    <tr>
      <th>Publisher</th>
      <td>{{ ext | where: 'url', 'http://hl7.org/fhir/5.0/StructureDefinition/extension-Requirements.publisher' | first | map: 'valueString' | first }}</td>
    </tr>
    <tr>
      <th>Contact URL</th>
      <td>{{ ext | where: 'url', 'http://hl7.org/fhir/5.0/StructureDefinition/extension-Requirements.contact' | map: 'valueContactDetail' | map: 'telecom' | first | where: 'system', 'url' | first | map: 'value' | first }}</td>
    </tr>
    <tr>
      <th>Contact Email</th>
      <td>{{ ext | where: 'url', 'http://hl7.org/fhir/5.0/StructureDefinition/extension-Requirements.contact' | map: 'valueContactDetail' | map: 'telecom' | first | where: 'system', 'email' | first | map: 'value' | first }}</td>
    </tr>
    <tr>
      <th>Description</th>
      <td>{{ ext | where: 'url', 'http://hl7.org/fhir/5.0/StructureDefinition/extension-Requirements.description' | first | map: 'valueMarkdown' | first }}</td>
    </tr>
    <tr>
      <th>Jurisdiction</th>
      <td>{{ ext | where: 'url', 'http://hl7.org/fhir/5.0/StructureDefinition/extension-Requirements.jurisdiction' | first | map: 'valueCodeableConcept' | map: 'coding' | first | first | map: 'code' | first }}</td>
    </tr>
    <tr>
      <th>Actor Definitions</th>
      <td>
        <ul>
          {% assign actors = ext | where: 'url', 'http://hl7.org/fhir/5.0/StructureDefinition/extension-Requirements.actor' %}
          {% for actor in actors %}
            <li>{{ actor.valueCanonical }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
  </tbody>
</table>