
{% assign ext = actordefinition.extension %}

{% assign title = ext | where: "url", "http://hl7.org/fhir/5.0/StructureDefinition/extension-ActorDefinition.title" | first %}


<table border="1" style="border-collapse: collapse;">
  <tbody>


    <tr>
      <th>Publisher</th>
      <td>
	{% assign contacturl =  ext | where: 'url', 'http://hl7.org/fhir/5.0/StructureDefinition/extension-ActorDefinition.contact' | map: 'valueContactDetail' | map: 'telecom' | first | where: 'system', 'url' | first | map: 'value' | first %}
	{% assign publisher = ext | where: 'url', 'http://hl7.org/fhir/5.0/StructureDefinition/extension-ActorDefinition.publisher' | first | map: 'valueString' | first %}
	<a href="{{contacturl}}">{{publisher}}</a>
      </td>
    </tr>
    <tr>
      <th>Contact Email</th>
      <td>{{ ext | where: 'url', 'http://hl7.org/fhir/5.0/StructureDefinition/extension-ActorDefinition.contact' | map: 'valueContactDetail' | map: 'telecom' | first | where: 'system', 'email' | first | map: 'value' | first }}</td>
    </tr>
    <tr>
      <th>Description</th>
      <td>{{ ext | where: 'url', 'http://hl7.org/fhir/5.0/StructureDefinition/extension-ActorDefinition.description' | first | map: 'valueMarkdown' | first | markdownify }}</td>
    </tr>
    <tr>
      <th>Jurisdiction</th>
      <td>{{ ext | where: 'url', 'http://hl7.org/fhir/5.0/StructureDefinition/extension-ActorDefinition.jurisdiction' | first | map: 'valueCodeableConcept' | map: 'coding' | first | first | map: 'code' | first }}</td>
    </tr>
    <tr>
      <th>Capabilities</th>
      <td>
	This actor fufills the following requirement(s):
        <ul>
	  
          {% assign capes = ext | where: 'url', 'http://hl7.org/fhir/5.0/StructureDefinition/extension-ActorDefinition.capabilities' %}	      {{ capse | json }}
          {% for cape in capes %}
              {% assign capeinstance = cape.valueCanonical | split: "/" | last  | split: ".html" | first %}
	      {% assign capepage = "CapabilityStatement-" | append: capeinstance | append: ".html" %}
	      {% assign capename = site.data.pages[capepage].title %}
              <li><a href="{{capepage}}">{{ capename| escape_once  }}</a></li>
	      
          {% endfor %}
        </ul>
      </td>
    </tr>
  </tbody>
</table>
